body {
  background-color: #fcfcfc;
}

form {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-size:50px;
    font-family: 'Roboto', sans-serif;
    text-align: center; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center vertically */
    align-items: center;
    height: 100%;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size:x-large;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-bottom-color: #06f;
  }
  
  button[type="button"] {
    display: block;
    width: 100%;
    background-color: #06f;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #0072ff;
  }

  #result {
    font-family: 'Segoe UI Emoji', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #9C27B0, #E91E63);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color:#2772ce; */
  }

  #result.correct {
    color: green;
  }
  
  #result.incorrect {
    color: red;
  }
